/* Sass theme */
$mainpage-background: rgba(221, 221, 221, 0);
$titlebar: #101030;
$titlebar-text: white;
$supersciencegrl-text: #D0B070;
$top-row: #303030;
$top-icon: #A0A0A0;

$title: #022964;
$title-lighter: #2299D4; // Also used for text-decoration
$title-hover: #C0C0C0;
$highlight: #0279B4;

$default-box-shadow: #888899;
$footer-box-shadow: #000022;
$link-active: #D2E9FF;
$popout-background: rgba(22, 99, 212, 0.15);
$tooltip-background: #707080;

$sidebar-link: #606060;
$sidebar-sep: #808080;
$sidebar-sep-rgba: rgba(80,80,80,1);

$table-header-text: white;
$table-text: #404060;
$table-shading: #F8F6FF;

$theme-gold: #C7A93E;
$theme-purple: #B637E8;
$theme-red: #FC4141;

$default-indent: 10px;
$pre-tab-indent: 15px;
$listblock-border: 8px solid;