#checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.big-checkbox-label {
  font-weight: bolder;
  font-size: 1rem;
}

#checkboxContainer input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 10px;
  width: 10px;
}

#checkboxContainer label:hover input ~ .big-checkbox {
  background-color: #686879;
}

#checkboxContainer input:checked ~ .big-checkbox {
  background-color: #0279B4;
}

#checkboxContainer label:hover input:checked ~ .big-checkbox {
  background-color: #025994;
}

.big-checkbox {
  position: relative;
  float: left;
  top: 2px;
  left: 0px;
  height: 20px;
  width: 20px;
  border-radius: 5%;
  background-color: #888899;
  vertical-align: bottom;
}

.big-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

#checkboxContainer input:checked ~ .big-checkbox:after {
  display: block;
}

#checkboxContainer .big-checkbox:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
