@import "theme";

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: auto;
    background-color: $titlebar;
    position: relative;
    overflow-y: scroll;
}

div {
    font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 2rem;
    clear: left;
    padding-top: 30px;
}
h4 {
	font-size: 1.75rem;
}
h5 {
	font-size: 1.25rem;
    padding: 30px 0 10px 0;
}
h6 {
	font-size: 1.25rem;
}

p {
    text-align: justify;
}

input {
    border-radius: 3px;
}

figure {
	display: inline-block;
	margin: 0 0 0 3em;
}

pre {
	border: 2px solid $titlebar;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0.3em 0.5em 0.3em 0.5em;
}

.title {
    color: $titlebar-text;
    font-weight: bold;}
.title:link {
	color: $titlebar-text;
	text-decoration:none;}
.title:visited {
	color: $titlebar-text;}
.title:hover {
	color: $title-hover;}
.title:active {
	color: $top-icon;}

.top-row {
    background-color: $top-row;
    color: $top-icon;
    padding: 0;
    width: 100%;
    min-width: 100%;
    margin: 0;
    box-shadow: 0 0 10px 5px #202030;
}

.top {
    padding: 10px;
    border-radius: 3px;
    max-width: 14rem;
    transition: 0.6s;
}
.top:hover {
    background-color: black;
    color: $titlebar-text;
    transition: 0.3s;
}

.top-link {
    color: $titlebar-text;
}
.top-link:hover {
    color: $titlebar-text;
    text-decoration: none;
    transition: 0.3s;
}

.top-icon {
    padding: 10px;
    width: 25%;
    min-width: 20px;
}
#top-icon-container-container {
	min-width: 15%;
	position: absolute;
	right: 25px;
}
#top-icon-container {
	float: right;
	padding: 0;
}

.a-top-icon:link {
	color: $top-icon;
	text-decoration: none;}
.a-top-icon:visited {
	color: $top-icon;}
.a-top-icon:hover {
	color: $titlebar-text;}
.a-top-icon:active {
	color: $titlebar-text;}
	
#a-top-icon-search:active {
}
#a-top-icon-search {
    position: relative;
}

#top-search-box {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 20px;
    opacity: 0;
    top: 5px;
    left: 5px;
    position: absolute;
    transition: width 0.3s ease-in-out;
}
#top-search-box:focus {
    width: 300px;
    border: 2px solid;
    border-color: rgba(0,0,0,0);
    border-radius: 4px;
    outline: none;
    padding: 0 7px 0 0;
    opacity: 1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
    color: rgba(0,0,0,1);
    float: right;
    text-align: right;
    position: relative;
    top: -25px;
}
#top-search-box::-webkit-input-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;}
#top-search-box:-moz-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;}
#top-search-box::-moz-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;}
#top-search-box:-ms-input-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;}

#title-bar {
    background-color: $titlebar;
    padding: 40px 40px 0 40px;
}

.bar {
    color: $titlebar-text;
    padding: 5px 0px 5px 10px;
    border-radius: 5px 5px 0px 0px;
    border-width: 5px;
    min-width: 150px;
}
.bar:hover {
    background: -webkit-linear-gradient($titlebar-text, #DDDDDD);
    background: linear-gradient($titlebar-text, #DDDDDD);
    color: $titlebar;
}

.link-bar:hover {
    text-decoration: none;
}

.bar-space-initial {
    min-width: 13%;
}

#all-wrapper {
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(221,221,221,1);
    padding: 0 0 100px 0;
}

#wrapper {
    margin-right: 250px;
    background-color: rgba(0,0,0,0);
    min-height: 600px;
}

#mainpage {
    width: 100%;
    min-height: 550px;
    float: left;
    background-color: $mainpage-background;
    padding: 5%;
}

#supersciencegrl {
	color: $supersciencegrl-text;
	padding: 0 0 5px 0;
}

#content {
    margin: 0px;
    border-radius: 10px;
    padding: 30px;
    background-color: white; 
    min-height: 300px; 
    width: 100%; 
    box-shadow: 0px 0px 30px 10px $default-box-shadow;
}

.page-title,
.page-title-inline {
	color: $title;
    padding: 0px 0px 20px 0px;
}
.page-title-inline {
	margin-top: 3vw;
}

.page-subtitle {
	color: $title;
}
.tab-heading {
	color: $title;
	padding-left: $pre-tab-indent;
}
#main-title {
	color: $title;
	padding: 0;
	text-align: center;
}
#main-subheading {
	color: $sidebar-link;
	padding: 0;
	text-align: center;
}

#main-linkedin {
	max-width: 2.5rem;
	margin-top: -0.5rem;
	margin-left: 1.56rem;
}

#grid#grid2 {
    width: 100%;
    background-color: rgba(0,0,0,0);
}

#index_nav_wrapper {
	display: grid;
	grid-template-columns: 1fr 14fr;
	grid-gap: 0;
}

#index_nav_bullets {
	text-align: center;
}
#index_nav_bullets h2 {
	padding: 20vh 0 20vh 0;
}
#index_nav_bullets p {
	padding: 0.1em 0 0.1em 0;
	vertical-align: middle;
}
#index_nav_bullets a:link, 
#index_nav_bullets a:visited {
	color: $title-lighter;
	text-decoration: none;
}
#index_nav_bullets a:hover, 
#index_nav_bullets a:active {
	color: #014C8C;
	text-decoration: none;
}
.nav_bullets_arrow {
	color: $sidebar-sep;
}
.tinyindent {
	margin-left: 8px;
}

#index_nav_gallery {
	overflow-y: scroll;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
	height: 75vh;
}

.nav_snap {
	scroll-snap-align: start;
	max-width: 98%;
}

#section1, 
#section2, 
#section3 {
	display: block;
}

.grid-square-homepage-container {
	align-items: center;
	justify-content: center;
	display: flex;
}

.grid-square,
.grid-square-homepage {
    background-color: rgba(0,0,0,0);
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.grid-square {
    width: 49%;
    min-width: 300px;
    max-width: 500px;
    max-width: 60vw;
	padding: 10px 5% 50px 5%;
}
.grid-square-homepage {
	padding: 10px 5% 0 5%;
}
#latestArticlesSeeMore {
	margin: 0 0 1.25rem 1rem;
}

.experience-indent {
	padding-left: 1.5rem;
}
.experience-institution {
	color: #000000;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: $title-lighter;
	margin-bottom: 0;
}
.experience-title,
.experience-title-short {
	text-align: left;
}
.experience-title {
	margin-bottom: 0;
}
.experience-title-short {
	margin-bottom: 1rem;
	padding-left: 0.5rem;
}
.experience-location {
	color: $title-lighter;
	padding-left: 0.5rem;
}
#extracurricular-heading {
	text-align: center;
	font-size: 1.25rem;
	color: $title;
	padding: 0 0 5px 0; 
	color: #000000;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: $title-lighter;
}

.grid-character {
	width: 6%;
	min-width: 100px;
	max-width: 200px;
	background-color: rgba(0,0,0,0);
	margin: auto;
	position: relative;
	display: inline-block;
	vertical-align: middle;
    margin: 5px;
}

.caption {
    font-size: small;
    text-align: left;
}

.char {
    font-size: medium;
    text-align: center;
}

.char-caption {
    font-size: small;
    text-align: center;
    font-weight: bold;
}

.main-image {
    display: block;
    width: 80%;
    max-width: 650px;
    margin: auto;
    border-radius: 20px;
}

.inline-image {
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.image-left-wrapper {
	margin: auto;
}
.image-left {
    float: left;
    width: 100%;
    min-width: 80px;
    max-width: 120px;
    max-height: 150px;
    border-radius: 10px;
    margin: 0 30px 0 0;
}

.image-shadow {
	box-shadow: 0 0 12px $default-box-shadow;
}

.image-right {
    float: right;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#inline-image-right {
    width: 60%;
    padding: 0 0 2% 0;
}

#homepage-avatar,
#homepage-avatar-smallscreens {
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 2rem;
	max-width: 320px;
}
#homepage-avatar {
	width: 100%;
}
#homepage-avatar-smallscreens {
	float: right;
	width: 50%;
}

#avatar {
    width: 40%;
    padding: 0 5% 0 5%;
    float: right;
}
@media only screen and (max-width: 1200px) {
    #avatar {
        visibility: hidden;
        display: flex;
        height: 0;
        padding: 0;
        margin: 0;
    }
    #inline-image-right {
        width: 95%;
    }
    .p-inline {
        margin: 0 0 -10px 0;
    }
}

.tooltip,
.tooltipconf {
    visibility: hidden;
    background-color: $tooltip-background;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 5px 0;
    position: absolute;
    z-index: 1;
    margin: 0 0 0 -50px;
    opacity: 0;
}

.tooltip {
    width: 120px;
    bottom: 85%;
    left: 9em;
    transition: opacity 1s;
}

.tooltipconf {
	width: 60%;
	font-weight: normal;
	bottom: 30%;
	left: 35%;
	transition: opacity 0.8s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin: 0 0 0 -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #505050 transparent transparent transparent;
}

.div-tooltip {
	position: relative;
	padding: 0;
}

.div-tooltip:hover .tooltip,
.div-tooltip:hover .tooltipconf {
    visibility: visible;
    opacity: 1;
    overflow: visible;
}

.div-inline {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.twitter-tweet {
    display: block;
    max-width: 90%;
    margin: auto;
}

.line-image {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 5px;
}

#cvs-title {
	text-align: center;
	font-weight: bold;
}
#cvs-search {
	width: 60%;
	margin: auto;
	margin-bottom: 2vh;
}

.p-mixed {
	padding: 0;
	font-size: medium;
}
.p-indent {
	padding-left: $default-indent;
}
.p-inline {
    padding: 20px 20px 20px 0;
    font-size: medium;
}
.p-tab {
	padding-left: $pre-tab-indent;
}

.leftalign {
    text-align: left;
}

.tagline {
	text-align: right;
	font-style: italic;
	width: 100%;
}

.update {
	padding-bottom: 1em;
	text-align: justify;
}

.emphasize {
	color: navy;
	font-style: italic;
}

.new-fa {
	color: orange;
}

.back {
	padding-left: 13em;
}

.div-main {
    padding: 20px 20px 0 20px;
    margin: 0 0 35px 0;
    width: 97%;
    position: relative;
    clear: left;
}

.link-description {
	padding: 0;
}

.div-literature {
    padding: 0 20px 0 20px;
    display: block;
    margin: 0;
    width: 97%;
    position: relative;
    clear: left;
}

.p-main {
    padding: 0 0 0 20px;
    width: 95%;
    vertical-align: top;
}

.link-text:link,
.link-title:link,
.link-text:visited,
.link-title:visited {
	color: $highlight;
    text-decoration: none;}
.link-text:hover,
.link-title:hover {
	color: $title-lighter;
    text-decoration: underline;}
.link-text:active,
.link-title:active {
	color: $link-active;
    text-decoration: underline;}

.non-link-title {
    color: $highlight;
}

.noformat, 
.noformat:visited, 
.noformat:hover, 
.noformat:active {
    color: inherit;
    position: inherit;
    display: inherit;
    text-decoration: inherit;
    width: inherit;
    font-family: inherit;
    max-width: inherit; 
    padding: inherit;
    margin: inherit;
}

.display-image {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 3px;
    padding: 0;
}

.square-title {
    padding: 5px 0 10px 0;
    margin-bottom: 0;
}


.presentation-title {
	color: $highlight;
	font-weight: bold;
	font-size: large;
}
.media-title {
	font-size: large;
}

#sidebar {
    background-color: rgba(0,0,0,0);
    float: right;
    width: 250px;
    padding: 30px 30px 30px 0;
    margin: 0 -250px 0 0;
    border-width: 0;
    border-radius: 0 0 0 5px;
    border-bottom: 100px;
    height: 100%;
    min-height: 100%;
}
#sidebar-top-spacer {
	height: 25px;
}

.sidebar-row {
	overflow: hidden;
}

.sidebar-title {
    color: #000000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $title-lighter;
}

#sidebar-search {
    background-color: rgba(0,0,0,0);
    border: 2px solid $sidebar-link;
    border-radius: 4px;
    outline: none;
    width: 85%;
    margin: 0 0 0 5px;
    padding: 2px 0 2px 7px;
}

#sidebar-search:focus {
    background-color: rgba(42,119,232,0.05);
    color: rgba(0,0,0,1);
    box-shadow: inset 0 0 2px $sidebar-link;
}

#sidebar-search::-webkit-input-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;
	color: $sidebar-sep-rgba;}
#sidebar-search:-moz-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;
	color: $sidebar-sep-rgba;}
#sidebar-search::-moz-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;
	color: $sidebar-sep-rgba;}
#sidebar-search:-ms-input-placeholder {font-family: FontAwesome, "Open Sans", sans-serif;
	color: $sidebar-sep-rgba;}

.sidebar-hr {
    width: 90%;
    border-width: 1px;
    border-color: $sidebar-sep;
    background-color: #ffffff;
    margin: 35px 0px 35px 0px;
}

.sidebar-table {
    overflow-x: auto;
    background-color: rgba(0,0,0,0);
}

.sidebar-td {
    padding: 5px;
}
.sidebar-td .fa-linkedin:hover {
	color: #0A66C2;
}
.sidebar-td .fa-github:hover {
	color: #7C007C;
}

.m-contact {
    padding: 0 10px 0 10px;
    font-size: x-large;
}

#m-rss:link {color: #EF8500;}
#m-rss:hover {color: #BF5500;}

.sidebar-social:link {color: $sidebar-link;
	text-decoration: none;}
.sidebar-social:visited {color: $sidebar-link;}
.sidebar-social:hover {color: $title-lighter;}
.sidebar-social:active {color: $highlight;}

.sidebar-rss:link {color: $sidebar-link;
	text-decoration: none;}
.sidebar-rss:visited {color: $sidebar-link;}
.sidebar-rss:hover {color: #EF8500;}
.sidebar-rss:active {color: $highlight;}

.contact-icon {
	font-size: xx-large;
	padding-right: 10px;
	margin-left: 10px;
}
.contact-icon.fa-github:active {
	color: #7C007C;
}
.sidebar-td.fa-linkedin:active {
	color: #0A66C2;
}

#copyright {
	margin-bottom: 0;
}

.font-x-small {
    font-size: x-small;
}
.font-medium {
    font-size: medium;
}

.aleft {
	text-align: left;
}

#changelog-link {
	padding-left: 8%;
	font-size: x-small;
}

#btnContainer {
	margin: auto;
	display: block;
	position: static;
	padding: 1px;
	overflow: hidden;
}

#insideBtnContainer {
	float: left;
}

.filterDiv {
	display: none;
}

.filter-show {
	display: inline-block;
}

.btnFilter {
	border: none;
	background: linear-gradient(#BBBBBB, $mainpage-background, #BBBBBB);
	outline: none;
	float: left;
	clear: left;
	cursor: pointer;
	margin: 5px 0 0 5px;
	text-align: left;
}
.btnFilter:hover {
	background: none;
	box-shadow: 0 0 1px 1px $title-lighter;
}
.btnFilter.activeFilter {
	background: linear-gradient($title-lighter, $mainpage-background, $title-lighter);
	color: black;
}

.btnBold {
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px $default-box-shadow;
	background: linear-gradient($theme-gold, $mainpage-background, $theme-gold);
	outline: none;
	clear: both;
	cursor: pointer;
	padding: 8px 16px;
	text-align: center;
}
.btnBold:hover {
	box-shadow: 0 0 1px 1px $title-lighter;
}
#btnBold-contact {
	margin-left: $default-indent;
}
#btnBold-contact-email {
	background: linear-gradient($title-lighter, $mainpage-background, $title-lighter);
	margin: 0 0 30px $default-indent;
}

.listwrapper {
    width: 75%;
}

.listwrapper-m {
	padding-bottom: 8em;
}

.listwrapper .purple {
    border-bottom: $listblock-border $theme-purple;
}
.listwrapper-m .purple {
    border-right: $listblock-border $theme-purple;
}

.listwrapper .red {
    border-bottom: $listblock-border $theme-red;
}
.listwrapper-m .red {
    border-right: $listblock-border $theme-red;
}

.listblock {
    margin: 0 2% 0 2%;
    background-color: $popout-background;
    min-height: 17vw;
    max-width: 15vw;
    border-radius: 8px;
    border-bottom: $listblock-border $title-lighter;
    box-shadow: 3px -3px 6px $default-box-shadow;
}
.listblock a,
.listblock a:visited,
.listblock a:hover,
.listblock a:active {
	margin: 0;
	padding: 0;
}
.listblock .title {
    font-size: x-large;
    color: $footer-box-shadow;
    text-align: center;
    padding-top: 10px;
	write-space: nowrap;
}
.listblock .description {
    padding: 0 10px 0 10px;
    text-align: left
}

.listblock-m {
    width: 100%;
	display: inline-flex;
    margin: 4% -15px 0 0;
    background-color: $popout-background;
    min-height: 12vw;
    border-radius: 8px;
    border-right: $listblock-border $title-lighter;
    box-shadow: 0 3px 6px $default-box-shadow;
}
.listblock-m-title-wrapper {
	margin: auto 0 auto 0;
}
.listblock-m .title {
    font-size: medium !important;
    color: $footer-box-shadow;
    text-align: left;
    margin: auto 0 auto 0;
    vertical-align: top;
	white-space: nowrap;
}

.listblock .purple,
.listblock-m .purple {
    background-color: $theme-purple;
}

.listblock .red,
.listblock-m .red {
    background-color: $theme-red;
}

.listicon-m-wrapper {
	margin: auto;
}

.listicon {
    border-radius: 50%;
    background-color: $title-lighter;
    box-shadow: 3px -3px 6px 0 $default-box-shadow;
    height: 1.6rem;
	min-height: 1.6rem;
	width: 1.6rem;
	min-width: 1.6rem;
    margin: 6% auto 0 auto;
}
.listicon-m {
    border-radius: 100%;
    background-color: $title-lighter;
    margin: auto;
    height: 1rem;
	min-height: 1rem;
	width: 1rem;
	min-width: 1rem;
}

.journalcode {
	display: inline;
	white-space: pre-wrap;
	outline: none;
	overflow-wrap: anywhere;
	word-break: break-all;
}

.contact-header {
	padding-top: 0;
}
.p-contact {
	font-size: small;
	padding-left: $default-indent;
}
.contactsocialrow {
	padding: 10px 0 30px 10px;
}

#about-page-ul {
	display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: $titlebar;
    padding: 40px;
    box-shadow: 0 0 10px 5px $footer-box-shadow;
}

#footer-text {
    color: white;
    text-align: left;
}

#footer-text-div {
    width: 90%;
}

#button-to-top {
    border-radius: 50%;
    border: 1px solid $titlebar-text;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 18px;
}
#button-to-top:hover {
    cursor: pointer;
}

.m-visible {
    visibility: hidden;
}

.m-visible-none, 
.hidden {
    display: none;
}
.smallscreensshow {
	display: none;
}

/* Small computer screens */
@media only screen and (max-width: 1200px) {
	.smallscreensshow {
		display: initial;
	}
	.smallscreensnone {
		display: none;
	}
	
	ul {
		padding-left: 20px;
	}
	
    #sidebar {
        max-width: 25%;
        margin-right: -25%;
        padding: 10px;
    }
    .sidebar-title {
        letter-spacing: 0;
    }
    #wrapper {
        margin-right: 25%;
    }

    .listwrapper {
        width: 100%;
    }
    .listblock .title {
        font-size: large;
    }
    .listblock .description {
        display: none;
    }
}
/* End of small screens */

/* medium and smaller screens */
@media only screen and (max-width: 1200px) {
    .grid-six {
		visibility: hidden;
		display: none;
	}
}
/* End of medium and smaller screens */

/* x-large screens */
@media only screen and (min-width: 1500px) {
    .grid-square {
		width: 32%;
		min-width: 300px;
		max-width: 500px;
		max-width: 60vw;
		margin: auto;
		padding: 10px 5% 50px 5%;
	}
	div {
		font-family: Helvetica, sans-serif;
	}
	#title-bar div {
		font-family: "Open Sans", sans-serif;
	}
}
/* End of x-large screens */

/* Mobile devices */
@media only screen and (max-device-width: 480px), 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 300dpi) {
    body {
		max-width: 100%;
    }
	h3 {
		font-size: 1.75rem;
	}
	figure {
		font-size: small;
	}
	#title {
		font-size: x-large;
	}
	#supersciencegrl {
		font-size: large;
	}
	#wrapper,
	#mainpage,
	#content {
		min-height: 300px;
	}
	#content {
		padding: 10px;
	}
    #content p, 
    #content ul {
		text-align: left;
    }
    #content ul {
		margin-left: 0;
    }
	.div-main {
		padding: 10px 0 0 10px;
	}
	.page-title-inline {
		margin-top: 2rem;
	}
    .p-main {
		padding: 0;
    }
	.p-first {
		padding: 0 0.4em 0 0.4em;
	}	
    .m-hidden {
		visibility: hidden;
		clear : both;
		margin: 0;
		display: none;
    }
    .m-hidden-none {
		display: none !important;
    }
    .m-visible {
		visibility: visible;
    }
    .m-visible-none {
		display: initial; 
    }
    .bar {
		min-width: 20px;
		padding: 5px;
    }
    .bar-space-initial {
		min-width: 0;
    }
	.char,
	.char-caption {
		text-align: center;
	}
    .grid-square {
		padding: 5px 5% 35px 5%;
		min-width: 50px;
    }
	.image-left-wrapper {
		display: none !important;
	}
	.link-description {
		flex: initial;
		-webkit-flex: initial;
		max-width: 100%;
	}
	.media-title {
		font-size: medium;
	}
    .tabButton {
		max-width: 25%;
		padding: 3px;
		font-size: 0.8em;
    }
    .caption {
		font-size: calc(6px + 1.5vw);
    }
    .image-left {
		margin: 0 0.3em 0 0;
    }
    .back {
		padding-left: 3em;
    }
    #wrapper {
		margin-right: 0;
    }
	#about-page-ul {
		display: inherit;
	}
    #footer-text-div {
		font-size: small;
    }
	#index_nav_wrapper {
		grid-template-columns: 1fr;
	}
	#index_nav_bullets {
		display: none;
	}
	.experience-indent {
		padding-left: 1rem;
	}
	#main-linkedin {
		margin-left: 40%;
	}
}
/* End of mobile devices */