.column1 {
  width: 25%;
  overflow: hidden;
  padding-left: 1em;
}

.column2 {
  width: 12%;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.column3 {
  width: 12%;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

td.column2, td.column3, td.column5, td.column6 {
  font-size: 0.7em;
}

.column4 {
  width: 20%;
  overflow: hidden;
}

.column5 {
  width: 13%;
  overflow: hidden;
}

.column6 {
  width: 13%;
  overflow: hidden;
}

/* Mobile devices */
@media only screen and (max-device-width: 480px) {
  .m-hidden {
  visibility: hidden;
  clear : both;
  margin: 0;
  display: none;
  }
  .column2, column3, column5, column6 {
  display: none !important;
  }
  .m-visible {
  visibility: visible;
  }
  .m-visible-none {
  display: initial; 
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .m-hidden {
  visibility: hidden;
  clear : both;
  margin: 0;
  display: none;
  }
  .column2, column3, column5, column6 {
  display: none !important;
  }
  .m-visible {
  visibility: visible;
  }
  .m-visible-none {
  display: initial; 
  }
}

@media only screen and (min-resolution: 300dpi) {
  .m-hidden {
  visibility: hidden;
  clear : both;
  margin: 0;
  display: none;
  }
  .column2, column3, column5, column6 {
  display: none !important;
  }
  .m-visible {
  visibility: visible;
  }
  .m-visible-none {
  display: initial; 
  }
}
/* End of mobile devices */