/* Table containers */
.limiter, 
.limitera {
  width: 100%;
  margin: 0;
  margin-left: 0;
  display: inline-block;
}

.container-table100 {
  width: 100%;
  min-height: 50vh;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.wrap-table100 {
  width: 75%;
}

.wrap-table100-wide {
  width: 100%;
}

/* Table */
.limiter table, 
.limitera table {
  width: 100%;
}

.limiter th, td 
.limitera th, td{
  font-weight: unset;
  padding-right: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.limiter th, 
.limitera th {
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: inherit;
  margin-left: 0;
  border-left: 0;
  font-size: 1.1em;
  color: #fff;
  background-color: #0279B4;
}

.limiter td {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.95em;
  color: #404060;
}

.limitera td {
	font-size: 0.95em;
	color: #404060;
}

/* Fixed header */
.table100 {
  position: relative;
  padding-top: 65px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 80px;
  overflow: hidden;
}

.table100-body {
  width: 100%;
  max-height: 40vh;
  overflow: auto;
}

.table100-body-a {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
}

.table100-body-tall {
  width: 100%;
  max-height: 80vh;
  overflow: auto;
}

.table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

.table-link {
  font-weight: bold;
  text-decoration: none;
}

.table-link:visited {
  text-decoration: none;
  color: inherit;
}

.table-link:hover {
  text-decoration: none;
  color: #2299D4;
}

.table-link:active {
  text-decoration: none;
  color: #2299D4;
}

/* Mobile devices */
@media only screen and (max-device-width: 480px) {
	.container-table100 {
	font-size: x-small;
	padding: 0;
	}
	.wrap-table100 {
	width: 100%;
	}
	p-inline {
	padding-top: 0;
	padding-right: 0;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.container-table100 {
	font-size: x-small;
	padding: 0;
	}
	.wrap-table100 {
	width: 100%;
	}
	p-inline {
	padding-top: 0;
	padding-right: 0;
	}
}

@media only screen and (min-resolution: 300dpi) {
	.container-table100 {
	font-size: x-small;
	padding: 0;
	}
	.wrap-table100 {
	width: 100%;
	}
	p-inline {
	padding-top: 0;
	padding-right: 0;
	}
}
/* End of mobile devices */